*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(32, 31, 31);
    overflow-x: hidden;
}

.menu p{
    position: relative;
    font-size: xx-large;
    border-style: none;
    box-sizing: border-box;
    width: 5%;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    top: 10px;
    background-color: rgba(236, 221, 12, 0.753);
    border-radius: 20%;
    box-shadow: 5px 5px 5px 5px rgba(100, 99, 99, 0.705);
}

ul{
    position: relative;
    left: 10%;
    font-weight: bolder;
    font-size: large;
    top: -20px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(109, 105, 105);
    padding: 5px 20px;
    border: 1px transparent;
    transition: 0.6s;
    border-radius: 25px;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
  background-color: #fff;
  color: #000;
}

header{
    background-color: rgb(217, 219, 70);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  max-height: 50%;
  position: relative;
  top: 50px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dropbtn{
    background-color: rgb(246, 223, 12);
    color: rgba(0, 0, 0, 0.904);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 15%;
    box-shadow:2px 2px 2px 2px rgba(242, 246, 5, 0.705);
}

.dropdown{
    position: relative;
    display: inline-block;
    left: 150px;
    top: 150px;
}

.content{
    display: none;
    position: relative;
    background-color: #717171;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 252, 252);
    z-index: 1; 
}

.content a{
    color: rgb(10, 10, 10);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content a:hover{
    background-color: rgb(241, 209, 22);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #717171;
}

.search input[type=text]{
    float: right;
    position: absolute;
    right: 100px;
    top: 74%;
    font-size: large;
    border-color: rgb(225, 240, 17);
    background-color: rgb(238, 204, 12);
    color: #000;
    width: 40%;
    border-radius: 4px 4px 4px 4px ;
}

.column{
    position: relative;
    float: left;
    padding: 10px;
    top: 200px;
    left: 130px;
  }

.columnd{
    position: relative;
    float: left;
    padding: 10px;
    top: 200px;
    left: 140px;
  }

  .columns{
    position: relative;
    float: left;
    padding: 10px;
    top: 200px;
    left: 150px;
  }
  
  